<li>
	{{name}}

	<button class="articles-fill" data-id="{{id}}" data-newArticles="{{sleep}}">
		{{#if save}}Save Article{{/if}}
	</button>
	<button type="button" class="btn btn-info btn-md save-article" data-toggle="modal" data-target="#commentModal" data-id="{{this.id}}">Save</button>
	<!-- Trigger the modal with a button -->


<!-- In Modal? -->
	<!-- <li>
		{{name}}
		<button class="add-note" data-id="{{id}}" data-newNote="{{note}}">
		</button>
		<button class="delete-article" data-id="{{this.id}}">DELETE!</button>
	</li> -->

</li>
